body {
  background: #fff;
}

.hero {
  background: #FFF2E3;
  padding-top: 7px;
  padding-bottom: 7px;
}

.button {
  border-radius: 2px;
  padding: 7px 14px;
  display: inline-block;
  color: #373737;
}

.button:hover {
  cursor: pointer;
  color: #373737;
}

.button.main-action {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  background: #512572;
  color: #fff;
}

.button.minimal.active {
  font-weight: bold;
}

input[type="text"] {
  border: 1px solid #838383;
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 3px 7px;
  margin: 14px 0;
  width: 300px;
  -webkit-transition: width 250ms ease;
          transition: width 250ms ease;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #FFF2E3;
}

.bucket-wrapper {
  text-align: center;
}

.bucket {
  text-align: left;
  width: 100%;
  max-width: 500px;
  display: inline-block;
}
